<!DOCTYPE html>
<html>
<head>
    <title>Rose</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body class="">
	<div class="jumbotron"></div>
	<div class="logo">Rose</div>
    <div class="wrap">
    	<nav class="siteNav">
			<ul class="siteNav__list siteNav__list--inline">
				<li><a href="index.html"><i class="fa fa-home fa-fw"></i> Home</a></li>
				<li><a href="article.html">Article</a></li>
				<li><a href="forms.html">Forms</a></li>
				<li><a href=""><i class="fa fa-search fa-fw"></i></a></li>
				<li><a href=""><i class="fa fa-cog fa-fw"></i></a></li>
			</ul>
			<div class="siteNav__user">
					
				<ul class="siteNav__list--inline siteNav__list--bottom">
					<li><a href="">Join</a></li>
					<li class="siteNav-separator">/</li>
					<li><a href="">Sign in</a></li>
				</ul>
				<div class="siteNav__userAvatar avatar avatar--100">
					<img src="images/avatar.jpg">
				</div>		
			</div>
		</nav>
		<div class="page page-main">
			<div class="page-post layout-super-column">
				<div class="supertag">Feature</div>
				<header class="post-header">
					<h1 class="post-title">Gorile</h1>
					<h2 class="post-subtitle">Articolul acesta este despre maimutele</h1>
					<ul></ul>
				</header>
				<article class="post-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, quia, veniam, quam, saepe tempora distinctio vitae est nihil quaerat temporibus voluptate fuga in inventore autem beatae rem alias aliquid harum delectus vel mollitia neque rerum facere enim nostrum illum quidem excepturi iure laudantium natus nobis quos ipsam sunt. Enim, explicabo, in fugiat sunt doloremque eligendi quo ipsa recusandae officia at atque accusamus omnis ex odio veritatis! Quo, mollitia, perferendis impedit debitis excepturi voluptatum cumque explicabo sequi illo tempora harum ipsam commodi ea dolorum eligendi ratione obcaecati nisi saepe cupiditate quae. Laborum, commodi dolorum id consequuntur nesciunt quos nulla? Asperiores, praesentium, non, odio, earum tenetur excepturi error voluptatum temporibus ducimus necessitatibus molestiae tempore fugit quaerat veritatis voluptas expedita rem delectus? Qui.</p>
					<h2>Post de <strong>sefi</strong></h2>
					<p>ridichi roz</p>
					<h3>abecedar</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quaerat quas dolorem quibusdam ipsam corrupti maxime aspernatur nesciunt vel nulla quia nemo aliquid harum sunt reiciendis veniam saepe culpa temporibus suscipit nisi assumenda architecto ab? Ex alias corrupti nihil nostrum laboriosam natus.</p>
					<p><strong>Strong text</strong> <em>Italic text</em></p>
					<p><a href="www.google.ro">Anchor example</a></p>
					<blockquote>Masini albastre</blockquote>
				</article>
			</div>
			<div class="layout-single-column">
				<div class="profileBox">
					<div class="profileBox__avatar avatar avatar--100">
						<img src="images/avatar.jpg">
					</div>
					<div class="profileBox__body">
						<div class="profileBox__name"><a href="">Neculai</a></div>
						<div class="profileBox__bio">Neculai era tigan</div>
					</div>
				</div>
				<div class="comments">
					<header class="comments__title"><h2>Comments</h2></header>
					<ul class="comments__list">
						<li class="comments__item">
							<div class="comments__avatar avatar avatar--64">
								<img src="images/avatar.jpg">
							</div>
							<div class="comments__date">23/07/1995</div>
							<div class="comments__author"><a href="">Sandel</a></div>
							<div class="comments__text">Purici</div>
						</li>
						<li class="comments__item">
							<div class="comments__avatar avatar avatar--64">
								<img src="images/avatar.jpg">
							</div>
							<div class="comments__date">23/07/1995</div>
							<div class="comments__author"><a href="">Sandel</a></div>
							<div class="comments__text">Purici</div>
						</li>
					</ul>
				</div>
			</div>
			<footer class="footer">
				<div class="copyright">Rose &copy; 2014 Dobrescu & Vulpe</div>
			</footer>
		</div>
    </div>
</body>
</html>