<!DOCTYPE html>
<html>
<head>
    <title>Rose</title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="styles/style.css">
</head>
<body class="">
	<div class="jumbotron"></div>
	<div class="logo">Rose</div>
    <div class="wrap">
    	<nav class="site-nav group">
			<ul class="site-nav-list group">
				<li><a href="index.html"><i class="fa fa-home fa-fw"></i> Home</a></li>
				<li><a href="article.html">Article</a></li>
				<li><a href="forms.html">Forms</a></li>
				<li><a href=""><i class="fa fa-search fa-fw"></i></a></li>
				<li><a href=""><i class="fa fa-cog fa-fw"></i></a></li>
			</ul>
			<ul class="site-nav-list site-nav-list-second group">
				<li><a href="">Join</a></li>
				<li class="site-nav-separator">/</li>
				<li><a href="">Sign in</a></li>
			</ul>
		</nav>
		<div class="msg"></div>
		<div class="page page-main">
			<div class="nav-tabs group">
				<ul class="nav-tabs-list">
					<li><a href="" class="active">Reading list</a></li>
					<li><a href="">Bookmarked</a></li>
					<li><a href="">Top 100</a></li>
				</ul>			
			</div>
			<div class="layout-single-column">
				<ul class="article-list">
					<li class="article-list-item group">
						<div class="article-list-meta"><i class="fa fa-bookmark fa-fw"></i>5 min read</div>
						<h2 class="article-list-title"><a href="">Pasari de vanzare</a></h2>
						<p class="article-list-subtitle">Avem aici, acolo si incoace</p>
						<p class="article-list-body">Posted by <a class="article-list-author" href="">Aligatorul</a> in Porcusori</p>
					</li>
					<li class="article-list-item group">
						<div class="article-list-meta"><i class="fa fa-bookmark fa-fw"></i>5 min read</div>
						<h2 class="article-list-title"><a href="">Pasari de vanzare</a></h2>
						<p class="article-list-subtitle">Avem aici, acolo si incoace</p>
						<p class="article-list-body">Posted by Aligatorul in Porcusori</p>
					</li>
					<li class="article-list-item group">
						<div class="article-list-meta"><i class="fa fa-bookmark fa-fw"></i>5 min read</div>
						<h2 class="article-list-title"><a href="">Pasari de vanzare</a></h2>
						<p class="article-list-subtitle">Avem aici, acolo si incoace</p>
						<p class="article-list-body">Posted by Aligatorul in Porcusori</p>
					</li>
					<li class="article-list-item group">
						<div class="article-list-meta"><i class="fa fa-bookmark fa-fw"></i>5 min read</div>
						<h2 class="article-list-title"><a href="">Pasari de vanzare</a></h2>
						<p class="article-list-subtitle">Avem aici, acolo si incoace</p>
						<p class="article-list-body">Posted by Aligatorul in Porcusori</p>
					</li>
					<li class="article-list-item group">
						<div class="article-list-meta"><i class="fa fa-bookmark fa-fw"></i>5 min read</div>
						<h2 class="article-list-title"><a href="">Pasari de vanzare</a></h2>
						<p class="article-list-subtitle">Avem aici, acolo si incoace</p>
						<p class="article-list-body">Posted by Aligatorul in Porcusori</p>
					</li>
					<li class="article-list-item group">
						<div class="article-list-meta"><i class="fa fa-bookmark fa-fw"></i>5 min read</div>
						<h2 class="article-list-title"><a href="">Pasari de vanzare</a></h2>
						<p class="article-list-subtitle">Avem aici, acolo si incoace</p>
						<p class="article-list-body">Posted by Aligatorul in Porcusori</p>
					</li>
					<li class="article-list-item group">
						<div class="article-list-meta"><i class="fa fa-bookmark fa-fw"></i>5 min read</div>
						<h2 class="article-list-title"><a href="">Pasari de vanzare</a></h2>
						<p class="article-list-subtitle">Avem aici, acolo si incoace</p>
						<p class="article-list-body">Posted by Aligatorul in Porcusori</p>
					</li>
					<li class="article-list-item group">
						<div class="article-list-meta"><i class="fa fa-bookmark fa-fw"></i>5 min read</div>
						<h2 class="article-list-title"><a href="">Pasari de vanzare</a></h2>
						<p class="article-list-subtitle">Avem aici, acolo si incoace</p>
						<p class="article-list-body">Posted by Aligatorul in Porcusori</p>
					</li>
					<li class="article-list-item group">
						<div class="article-list-meta"><i class="fa fa-bookmark fa-fw"></i>5 min read</div>
						<h2 class="article-list-title"><a href="">Pasari de vanzare</a></h2>
						<p class="article-list-subtitle">Avem aici, acolo si incoace</p>
						<p class="article-list-body">Posted by Aligatorul in Porcusori</p>
					</li>
					<li class="article-list-item group">
						<div class="article-list-meta"><i class="fa fa-bookmark fa-fw"></i>5 min read</div>
						<h2 class="article-list-title"><a href="">Pasari de vanzare</a></h2>
						<p class="article-list-subtitle">Avem aici, acolo si incoace</p>
						<p class="article-list-body">Posted by Aligatorul in Porcusori</p>
					</li>
				</ul>
			</div>	
			<footer class="footer">
				<div class="copyright">Rose &copy; 2014 Dobrescu & Vulpe</div>
			</footer>
		</div>	
    </div>
</body>
</html>