<div class="nav-tabs group">
	<ul class="nav-tabs-list">
		<li><a href="{{ siteUrl }}">Reading list</a></li>
		<li><a href="{{ siteUrl }}user/bookmarks" class="active">Bookmarks</a></li>
		<li><a href="">Top 100</a></li>
	</ul>			
</div>
<div class="layout-super-column">
	<ul class="post-list"></ul>
</div>

<script>
$(document).ready(function() {
	getPosts('bookmarks');
});
</script>