<div class="layout-single-column">
	<div class="form">
		<form method="post" action="">
			<fieldset>
				<legend>Reset password</legend>
				<ul class="form">
					{{^ form-reset-password-request.status }}
						{{# form-reset-password-request.message }}<li>{{ . }}</li>{{/ form-reset-password-request.message }}
					{{/ form-reset-password-request.status }}
					<li{{# form-reset-password-request.fields.email }} class="form-error"{{/ form-reset-password-request.fields.email }}>
						<label for="email">Email</label>
						<input id="email" type="email" name="email" autofocus required>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<input type="submit" name="submit-reset-password-request" value="Reset password">
			</fieldset>
		</form>
	</div>
</div>