<div class="layout-single-column">
	<div class="form">
		<form method="post" action="">
			<fieldset>
				<legend>Reset password</legend>
				<ul class="form">
					{{^ form-reset-password-change.status }}
						{{# form-reset-password-change.message }}<li>{{ . }}</li>{{/ form-reset-password-change.message }}
					{{/ form-reset-password-change.status }}
					<li{{# form-reset-password-change.fields.password }} class="form-error"{{/ form-reset-password-change.fields.password }}>
						<label for="password">New password</label>
						<input id="password" type="password" name="password" autofocus required>
						<input type="hidden" name="token" value="{{ token }}">
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<input type="submit" name="submit-reset-password-change" value="Reset password">
			</fieldset>
		</form>
	</div>
</div>