<div class="nav-tabs group">
	<ul class="nav-tabs-list">
		<li><a href="{{ siteUrl }}drafts">Drafts</a></li>
		<li><a href="{{ siteUrl }}drafts/shared" class="active">Shared</a></li>
	</ul>			
</div>
<div class="layout-super-column">
	<ul class="post-list"></ul>
</div>

<script>
$(document).ready(function() {
	getPosts('draftsShared');
});
</script>